*{
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  padding: 0;
  margin: 0;

}


.nav {
  display: flex;
  align-items: center ;        /* aligns items vertically */
  justify-content: space-between;
  background-color: #320a66;
  padding: 10px ;
 
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;          /* spacing between links */
  font-size: 32px;
}

.nav img {
  margin-right: 10px;         /* logo stays left */
}

.nv{
  
  border-radius: 25px;
}

.nv:hover{
  background-color: rgb(234, 44, 44);
  
}


#filter{
  background: 2px solid grey;
  background-color: rgb(237, 233, 233);
  padding-top: 10px;
  padding-left: 20px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.mmm{
  display: flex;
  justify-content: space-around;
  
}

.fltr{
  text-align:left;
  width: 180px;
  padding-left:50px;
  margin-bottom: 5000px;
}

footer{
  background: 2px solid black;
  background-color: #918f8f;
  display: flex;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-style: arial;
  font-size: large;
  justify-content: space-around; 

}

#x{
 padding-top: 100px;
}

#about{
  width: 250px;
}



#cntc{
  width: 200px;
 
  margin-left: 10px;
}

#fedb{
  width: 500px;
  margin-left: 10px;
 
 
}



#tollfno{
  width: 200px;
  padding: left 20px;
  margin-left: 10px;
}

#help{
  width: 80px;
 
  margin-left: 10px;
}

#h3{
  font-size: x-large;
}
 


/*cover photo*/

#coverphoto{
  padding: 10px;
  background-color: red;
  background-image: url(banner1.jpeg);
  height: 200px;
 
  background-size: cover;
 
}


/*product list css*/

.fstline{
    border: 2px solid black;
    width: 325px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
     background-color: antiquewhite;
}

.product{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.sndline{
    border: 2px solid black;
    width: 325px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
     background-color: antiquewhite;
}

.product2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.trdline{
    border: 2px solid black;
    width: 325px;
   padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
     background-color: antiquewhite;
}

.product3{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.frthline{
    border: 2px solid black;
    width: 325px;
  padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
     background-color: antiquewhite;
}

.product4{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.fifthline{
    border: 2px solid black;
    width: 325px;
   padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
     background-color: antiquewhite;
}

.product5{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.sxthline{
    border: 2px solid black;
    width: 325px;
   padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
     background-color: antiquewhite;
}

.product6{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.svthline{
    border: 2px solid black;
    width: 325px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: antiquewhite;
}

.product7{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/*.inline{
  display: inline-block;
  margin-left: 5px;
  margin: 20px;
}*/

.atc{
  background-color: blue;
  font-size: 20px;
  color: white;              /*aad to cart button*/
  margin: 5px;
  padding: 5px 10px 5px 10px;  
  border-radius: 10px;
}



#search{
  color: rgb(8, 0, 0);
  background-color: yellow;    /*search button*/
  padding: 1px 2px 1px 2px;
  border-radius: 15px;
}


#productlist{
  margin-top: 10px;
  margin-left: 50px;              /*product list*/
  margin-bottom: 10px;
}

#cat{
  width: 300px;
  padding: 10px;                 /*Category*/
  padding-left: 10px;
}

#pr{
  width: 300px;
  padding: 10px;                /*price range*/
  padding-left: 10px;

}

#rtng{
  width: 300px;
  padding: 10px;               /*Rating*/
  padding-left: 10px;
}

button:hover{
  background-color: red;
}

#search:hover{
  background-color: red;
  color: white;

}

  /*items hovering*/
  
.fstline:hover{
  border:2px solid red;
 
}

.sndline:hover{
  border : 2px solid red;
}

.trdline:hover{
  border : 2px solid red;
}

.frthline:hover{
  border : 2px solid red;
}

.fifthline:hover{
  border : 2px solid red;
}

.sxthline:hover{
  border : 2px solid red;
}

.svthline:hover{
  border : 2px solid red;
}

